@import 'styles/utils.scss';
.signup-wrapper{
   width:1200px;
   margin-top: 50px;
   margin-bottom: 40px;
   .signup-top{
      border-bottom: 1px solid #000;
      .signup-title{
         
      }
      .signup-text{
         margin-top:20px;
         margin-bottom: 20px;
      }
   }
   .signup-bottom{
      display: flex;
      flex-direction: column;
      margin-top:20px;
      align-items: center;
      .passwordR-h3{
         display: flex;
         justify-content: space-between;
         .passwordR-true{
            color: green;
         }
         .passwordR-false{
            color: red;
         }
      }
      .bottom-nicname{
         
         button{
            width: 80px;
            margin-left: 10px;
            height: 50px;
            font-size: 16px;
            color:white;
            border: 1px solid transparent;
            background: $tikitaka-blue;
         }
      }
      .bottom-check{
         margin-top:20px;
         display: flex;
         align-items: center;
         user-select: none;
         .chkbox{
            display: none;
         }
         .check-h3{
            margin-right: 110px;
            cursor: pointer;
         }
         .chk-div{
            cursor: pointer;
            width: 30px;
            height: 30px;
            background:  white;
         }
         input[type="checkbox"]:checked+.chk-div {
               
               background:url('../../../imgs/chk.png' ) white no-repeat center/30px 30px;
            
         }
         input{
            width: 20px !important;
            height: 20px !important;
            margin-right: 20px;
         }

      }

      .bottoms{
         h3{
            margin: 20px 0;
         }
         input{
            font-size: 1rem;
            text-indent: 5px;
            width: 500px;
            height: 50px;
         }
      }
      .signup-btn{
         margin-top:20px;
         >button{
            width: 500px;
            height: 50px;
            border: 1px solid transparent;
            background: $tikitaka-blue;
            color:white;
            font-size: 1.4rem;
         }
      }
   }
   
}

.after-warpper{
   margin:auto auto;
   .after-logo-container{
      text-align: center;
      img{
         height: 300px;
      }
   }
   .after-contant{
      font-size: 1.2rem;
      margin-top: 20px;
      line-height: 1.5;
   }
   .after-button{
      margin-top:20px;
      button{
         height: 40px;
         border:0;
         color: $oc-gray-1;
         background: $tikitaka-blue;
         width: 100%;
      }
   }
}