@import 'styles/utils.scss';
.sign-page{
    width: 1200px;
    height: 800px;
    margin-right:auto;
    margin-left:auto;
    margin-top:10px;
    padding:10px;
    background-color:white;
    .sign-text{
        text-align:left;
        font-size:2rem;
        color: rgb(99, 99, 207);
    }
    .welcome{
        text-align:left;
        font-size:1.4rem;
        color:black;
        border-bottom:1px solid gray;
        padding-bottom:2%;
    }
    .table{
     width:800px;
     height:400px;
     margin-right:auto;
     margin-left:auto;
     font-size:1.2rem;
     background-color:white;
     line-height: 2.7rem;
     text-align:left;
     padding:20px;
     .purposebox select{
        margin-left:100px;
        width:400px;
        height:25px;
     }
     .inID input[type="text"]{
        margin-left:100px;
        width:400px;
        height:25px;
     }
     .inpassword input[type="text"]{
        margin-left:100px;
        width:400px;
        height:25px;
     }
     .inpassword2 input[type="text"]{
        margin-left:100px;
        width:400px;
        height:25px;
     }
     .inname input[type="text"]{
        margin-left:100px;
        width:400px;
        height:25px;
     }
     .inphone input[type="text"]{
        margin-left:100px;
        width:400px;
        height:25px;
     }
     .inmail input[type="text"]{
        margin-left:100px;
        width:400px;
        height:25px;
     }
     .projectbox select{
        margin-left:100px;
        width:400px;
        height:25px;
     }
    }
    .info{
        font-size:1rem;
        text-align:center;
        margin-top:50px;
        margin-left:auto;
        margin-right:auto;

        .term{
            font-size:1rem;
        }
        .pinfo{
            font-size:1rem;
        }

    }
    .sign-button{
       margin-left:auto;
       margin-right:auto;
       text-align:center;
       width:150px;
       height:40px;
       background-color:whitesmoke;
       font-size: 1.3rem;
       vertical-align: center;
       border-radius:10px;
       border:1px solid gray;
    }
    .sign-button:hover {
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d2d4d4), color-stop(1, #b8b8b8));
	   background:-moz-linear-gradient(top, #d2d4d4 5%, #b8b8b8 100%);
	   background:-webkit-linear-gradient(top, #d2d4d4 5%, #b8b8b8 100%);
	   background:-o-linear-gradient(top, #d2d4d4 5%, #b8b8b8 100%);
	   background:-ms-linear-gradient(top, #d2d4d4 5%, #b8b8b8 100%);
	   background:linear-gradient(to bottom, #d2d4d4 5%, #b8b8b8 100%);
	   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2d4d4', endColorstr='#b8b8b8',GradientType=0);
	   background-color:#d2d4d4;
   }
   .sign-button:active {
      position:relative;
      top:1px;
   }

}