@import 'styles/utils.scss';
.sign-page{
    width: 1200px;
    height: 800px;
    margin-right:auto;
    margin-left:auto;
    margin-top:10px;
    padding:10px;
    background-color:white;
    .sign-text{
        text-align:left;
        font-size:2rem;
        color: rgb(99, 99, 207);
    }
    .welcome{
        text-align:left;
        font-size:1.4rem;
        color:black;
        border-bottom:1px solid gray;
        padding-bottom:2%;
    }
    .table{
     width:800px;
     height:400px;
     margin-right:auto;
     margin-left:auto;
     font-size:1.2rem;
     background-color:white;
     line-height: 2.7rem;
     text-align:left;
     padding:20px;
     .purposebox select{
        margin-left:100px;
        width:400px;
        height:25px;
     }
     .inID input[type="text"]{
        margin-left:100px;
        width:400px;
        height:25px;
     }
     .inpassword input[type="text"]{
        margin-left:100px;
        width:400px;
        height:25px;
     }
     .inpassword2 input[type="text"]{
        margin-left:100px;
        width:400px;
        height:25px;
     }
     .inname input[type="text"]{
        margin-left:100px;
        width:400px;
        height:25px;
     }
     .inphone input[type="text"]{
        margin-left:100px;
        width:400px;
        height:25px;
     }
     .inmail input[type="text"]{
        margin-left:100px;
        width:400px;
        height:25px;
     }
     .projectbox select{
        margin-left:100px;
        width:400px;
        height:25px;
     }
    }
    .info{
        font-size:1rem;
        text-align:center;
        margin-top:50px;
        margin-left:auto;
        margin-right:auto;

        .term{
            font-size:1rem;
        }
        .pinfo{
            font-size:1rem;
        }
    }
}