@import 'styles/utils.scss';

.projectList{
        width: 1200px;
        margin: auto auto;
        .projectList-top{
                display: flex;
                justify-content: space-evenly;
                .title{
                        flex: 1;
                        height: 20px;
                }

                .search{
                }
                
        }
        .filter{
                margin-top: 15px;
                border-bottom: 1px solid $oc-gray-7;
        }
        .projectList-bottom{
                .project{
                        display: grid;
                        border : 1px solid #f00;
                        grid-auto-rows: minmax(50px,auto);
                        grid-template-columns: 1fr 3fr;
                        margin : 40px 0 ;
                        .project-content{
                                display: grid;
                                grid-template-columns: 1fr 1fr 1fr;
                                align-items: flex-start;
                                .title{
                                        height: 1.5rem;
                                        grid-column: 1/4;
                                        display: flex;
                                        justify-content: space-between;
                                }
                        }
                }
                .project + .project{
                        margin-top: 2rem;
                }
        }
}