@import 'styles/utils.scss';

.projectList{
        width: 1200px;

        .projectList-top{
                display: flex;
                justify-content: space-evenly;
                .title{
                        flex: 1;
                        height: 20px;
                }
                .search{
                        display: flex;
                        
                        .dropdown {
                                .btn{   
                                        width: 100px;
                                        height: 30px;
                                        background: white;
                                        border: 1px solid $oc-gray-3;
                                }
                                .dropdown-menu {
                                        display: flex;
                                        flex-direction: column;
                                        display: none;
                                        width: 100px;
                                        padding: 0.5rem 0;
                                        margin: 0.125rem 0 0;
                                        font-size: 1rem;
                                        color: #212529;
                                        text-align: left;
                                        background-color: #fff;
                                        border: 1px solid $oc-gray-3;
                                        .dropdown-divider{
                                                height: 0;
                                                margin: 0.5rem 0;
                                                overflow: hidden;
                                                border-top: 1px solid #e9ecef;
                                        }
                                        .dropdown-item{
                                                display: block;
                                                width: 100%;
                                                padding: 0.25rem 1.5rem;
                                                clear: both;
                                                font-weight: 400;
                                                color: #212529;
                                                text-align: inherit;
                                                white-space: nowrap;
                                                background-color: transparent;
                                                border: 0;
                                        }
                                }

                                .dropdown-menu.show {
                                        display: flex;
                                }
                        }
                        .input-search{
                                border: 1px solid $oc-gray-4;
                                height: 30px;

                        }
                        .button-search{
                                background: $tikitaka-blue;
                                border: 1px solid $tikitaka-blue;
                                color: white;
                                font-weight: 700;
                                height: 30px;
                        }
                }
        }
        .filter{
                margin-top: 15px;
                border-bottom: 1px solid $oc-gray-7;
        }
        .projectList-bottom{
                
                .project{
                        display: grid;
                        border : 1px solid $oc-gray-3;
                        grid-auto-rows: 200px;
                        grid-template-columns: 1fr 3fr;
                        margin : 40px 0 ;
                        background: white;
                        .writer-content{
                                
                                padding:20px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                .writer{
                                        >*{
                                                display: inline-block;
                                        }
                                        .writer-profile{
                                                vertical-align: middle;
                                                width: 40px;
                                                height: 40px;
                                        }
                                        .writer-nickName{
                                                margin-bottom: 30px;
                                        }

                                }
                                .writer-info{
                                        color: $oc-gray-5;
                                        text-indent: 1rem;
                                        font-weight: 700;
                                }
                        }
                        .project-content{
                                padding: 10px;
                                display: grid;
                                grid-template-columns: 1fr 3fr ;
                                grid-template-rows: 40px auto 40px;
                                align-items: center;
                                .title{
                                        grid-column: 1/4;
                                        display: flex;
                                        margin-bottom: 5px;
                                        justify-content: space-between;
                                        
                                }
                                .item-left{
                                        li{
                                                >div{
                                                        display: inline-block;
                                                }
                                                margin-bottom: 10px;
                                        }
                                        .item-content{
                                                font-size : 1.3rem;
                                                font-weight: 900;
                                                
                                        }
                                }
                                .item-name{
                                        font-size: 1.2rem;
                                        color : $oc-gray-6;
                                        font-weight: 700;
                                        width: 90px;
                                }
                                .item-right::before{
                                        width: 1px;
                                        content: '';
                                        height: 130px;
                                        position: absolute;
                                        background: $oc-gray-4;
                                        transform: translate(-45px,-45px);
                                }
                                .item-right{
                                        .categoryList{
                                                color: $tikitaka-yello;
                                                font-weight: 600;
                                                margin-bottom: 10px;
                                        }
                                        .description{
                                                font-size: 0.9rem;
                                                color : $oc-gray-7;
                                        }
                                }
                                .item-bottom::before{
                                        content: '';
                                        width: 150px;
                                        height: 1px;
                                        position: absolute;
                                        background: $oc-gray-4;
                                        transform: translateY(-10px);


                                }
                                .item-bottom{
                                        grid-column: 1/4;
                                        display: flex;
                                        justify-content: space-between;
                                        .bottom-wrapper{
                                                >div{
                                                        display: inline-block;
                                                }
                                        }
                                        .candiListNumber{
                                                font-size:1.2rem;
                                                font-weight: 900;
                                                color:$tikitaka-blue;
                                        }
                                        
                                }
                                .writeDate, .dueDate{
                                        color:$oc-gray-6;
                                        font-size:0.8rem;
                                }
                        }
                }
                .project + .project{
                        margin-top: 2rem;
                }
                
        }
}