@import '../../../styles/utils';
.button{
        font-size: 1.2rem;
        color: black;
        display: inline-flex;
        padding:0.5rem;
        cursor: pointer;
}
.apibtn{
        &:hover{
                border: 0;
        }
}
.term{
        &:hover{
                font-weight: bolder;
        }
}
.login{
        text-align: center;
        display: block;

}
.find{
        font-size: 10px;
        float: right;
}
.find+ .login{
        margin-top: 2.5rem;
}
.login + .login{
        margin-top: 1.5rem;
}
.colorbtn{
        color: white;
        background: $oc-blue-4;
        &:hover{
                background: $oc-blue-5;
                border-bottom:0;
        }
}

.submit-btn+.submit-btn{
        margin-left: 8rem;
}
.submit-btn{
        margin-top: 20px;
        display: flex;
        color: $oc-gray-7;
        font-size: 1.4rem;
        font-weight: 700;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 60px;
        background: $tikitaka-blue;
}

.isOn-false{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
}
.isOn-true{
        justify-content: center;
        align-items: center;
        height: 100%;
        background: $tikitaka-blue;
}