@import '../../../styles/utils';
.button{
        font-size: 1.2rem;
        color: black;
        display: inline-flex;
        padding:0.5rem;
        cursor: pointer;
        &:hover{
                border-bottom: 1px solid $oc-cyan-8;
        }
}
.apibtn{
        &:hover{
                border: 0;
        }
}
.login{
        text-align: center;
        display: block;

}
.find{
        font-size: 10px;
        float: right;
}
.find+ .login{
        margin-top: 2.5rem;
}
.login + .login{
        margin-top: 1.5rem;
}
.colorbtn{
        color: white;
        background: $oc-blue-4;
        &:hover{
                background: $oc-blue-5;
                border-bottom:0;
        }
}