@import 'styles/utils.scss';

.FreeLenserList-wrapper{
        width: 1200px;
        margin-top: 50px;
        margin-bottom: 40px;
        .FreeLenserList-top{
                display: grid;
                grid-template-columns: 1fr 1fr;
                .title{

                }
                .searchBox{
                        display: flex;
                        justify-content: flex-end;
                }
        }
        .FreeLenserList-filter{
                margin-top : 15px;
                border-bottom: 1px solid $oc-gray-7;

        }

        .FreeLenserList-contents{
                margin-top:30px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-auto-rows: 420px;
                grid-gap: 10px;
                .FreeLenserList-post{
                        border: 1px solid $oc-gray-4;
                        padding:5px;
                        background: white;

                        .post-nickname{
                                color: $oc-gray-7;
                                font-size:1.2rem;
                                font-weight: 900;
                        }
                        .post-organization{
                                color: $oc-gray-5;
                                font-size: 0.9rem;
                        }
                        .post-item{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-top: 5px;
                        }
                        .post-intro{
                                overflow: hidden; 
                                display: flex;
                                width: 280px;
                                height: 20px;
                                flex-wrap: wrap;
                                color: $oc-gray-7;
                                justify-content: center;
                                align-items: center;
                                text-overflow: ellipsis;
                                white-space: nowrap; 
                        }
                        .post-skill{
                                display: grid;
                                margin-top:10px;
                                grid-template-columns: 1.5fr 4fr;
                                color: $oc-gray-6;
                                font-weight: 700;
                                .categoryList{
                                        display: flex;
                                        overflow: hidden;
                                        justify-content: flex-start;
                                        .category-item{
                                                text-overflow: ellipsis;
                                                font-size:0.8rem;
                                                padding: 10px 7px;
                                                color: $tikitaka-yello;
                                                font-weight: 500;
                                                border-radius: 10px;
                                                background: $oc-gray-7;
                                        }
                                        .category-item + .category-item{
                                                margin-left: 3px;
                                        }
                                }
                        }
                        .post-pro{
                                margin-top : 20px;
                                color: $oc-gray-6;
                                font-weight: 700;
                                display: grid;
                                grid-template-columns: 1.5fr 2fr;
                                .prolength{
                                        font-weight: 700;
                                        color: $tikitaka-blue;
                                }
                        }
                }
        }
}