@import 'styles/utils.scss';
.login-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
}
.login-page{
        border-radius: 10px;
        height: 500px;
        width: 800px;
        padding: 10px;
        background:white;
                .login-text{
                        margin-top :1rem;
                        margin-bottom: 1rem;
                        margin-left: 2rem;
                        font-size: 2.5rem;
                        font-weight: 700;
                        letter-spacing: 10px;
                        text-align : left;
                        color:rgb(99, 99, 207);
                }
        .bottom{
                display: flex;
                .left{
                        flex: 1;
                        .local{
                                border-radius: 10px;
                                border : 1px solid $oc-gray-5;
                                width: 350px;
                                height: 350px;
                                padding: 40px;
                                .input-id, .input-pw{
                                        width:100%;
                                        height: 3rem;
                                        padding: 10px;
                                        
                                }
                                .input-id{
                                        margin-bottom: 10px;
                                }
                                .input-pw{
                                        margin-bottom: 10px;
                                }
                        }
                        
        
                }
                .right{
                        width: 350px;
                        flex: 1;
                        height: 350px;
                        border : 1px solid $oc-gray-5;
                        border-radius: 10px;

                        .api-login{
                                height: 100%;
                                padding: 20px;
                                img{
                                        height: 70px;
                                        width: 320px;
                                        border-radius: 10px;
                                        &:hover{
                                                box-shadow: 5px 5px $oc-gray-3;
                                        }
                                }
                                .api-naver{
                                        height: 30%;
                                        text-align: center;
                                        font-size: 12px;
                                        font-weight: 700;
                                }
                                .api-naver +.api-naver {
                                        margin-top: 10px;
                                }
                        }
                }
        }
        
}