@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
body{
    margin : 0;
    box-sizing:  border-box;
    //font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Nanum Myeongjo', serif;
    //font-family: 'Merriweather', serif;
    //font-family: 'East Sea Dokdo', cursive;
    //font-family: 'Noto Sans KR', sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-font-smoothing: grayscale;
}
*{
    box-sizing: inherit;
}

a{
    text-decoration: inherit;
    color: inherit;
}