@import 'styles/utils.scss';
.header{
        background: $tikitaka-yello;
        position: fixed;
        width: 100%;
        height: 4rem;
        z-index: 2;
        .header-content{
                display: grid;
                grid-template-columns: 1fr 2fr 1fr;
                justify-items: center;
                padding-top: 1rem;
                .brand{
                        .logo-img{
                                width: 1.7rem;
                                vertical-align: middle;
                        }
                        font-size: 1.5rem;
                        font-weight:bolder;
                }
                .menu{
                        display: grid;
                        width: 100%;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        .button{
                                display: flex;
                                justify-content: center;
                        }
                        .button + .button {
                                border-left: 1px solid #000;
                        }
                }
                .client{
                        .button{
                                font-size: 0.9rem;
                                padding-right:1rem;
                                padding-left:1rem;
                        }
                        .button+.button{
                                border-left: 0.5px solid gray;
                        }
                        
                }
                @include media("<wide"){
                        width: 100%;
                }
                @include media("<medium"){

                }
        }
}

