@import 'styles/utils.scss';
      
     .ad {
        background-color:white;

          img{
            width:1500px;
            height:auto;
        }
    }
      
      .category {
        background-color: #FD9A5C;
      }
      
      .follow {
        background-color: yellow;
      }
      .x{
          background-color:gray;
      }
      
      section {
          .ad{
              height:240px;
              width:1500;
          }
        height: 300px;
        width:1500px;
      }
      