.base-wrapper{
    position: fixed;
    width: 400px;
    height: 500px;
    right: 0;
    bottom : 0;
}

.base-wrapper-close{
    position: fixed;
    right: 23px;
    bottom : 23px;
}
.noneDisplay{
    display: none;
}
.timeline-background{
    background: black;
    border-radius: 40px;
    width: 40px;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
}