@import 'styles/utils.scss';
.find-page{
    width:800px;
    height:1000px;
    text-align:center;
    .findtxt{
        line-height: 200%;
        font-size:1.5rem;
        text-align:center;
        margin-top:100px;
        margin-bottom:30px;
        margin-left:auto;
        margin-right:auto;
        font-weight: bold;
        color:$tikitaka-yello;
    }
    .findBox{
        border-radius: 2%;
        margin-left:auto;
        margin-right:auto;
        width:600px;
        height:250px;
        text-align:center;
        border:2px solid $tikitaka-blue;
        .context{
            width:400px;
            height:auto;
            margin-left:auto;
            margin-right:auto;
            margin-top:50px;
        .nametable{
            margin-top:100px;
            padding-left:2%;
            font-size:1.2rem;
            text-align:center;
            .inname input[type="text"]{
                margin-top:20px;
                margin-left:50px;
                width:200px;
                margin-bottom:20px;
             }
            }
        .IDtlabe{
            margin-top:100px;
            padding-left:2%;
            font-size:1.2rem;
            text-align:center;
             .inID input[type="text"]{
                margin-top:20px;
                margin-left:50px;
                width:200px;
                margin-bottom:20px;
               }
        }    
        .tablephone{
            padding:1%;
            font-size:1.2rem;
            text-align:center;
             .inphone input[type="text"]{
                margin-top:20px;
                margin-left:50px;
                width:200px;
                margin-bottom:20px;
               }
            }
            .findId{
                margin-top:0px;
                margin-left:auto;
                margin-right:auto;
            }
        }
    }
        
}
