@import 'styles/utils.scss';

.FreeLenserDetail-wrapper{
        width: 1200px;
        margin-top: 50px;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 10px;
        grid-auto-rows: minmax(400px,auto);
        background: white;
        .FreeLenserDetail-profile{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding:20px;
                border: 1px solid $oc-gray-4;

                .profile-img{
                        height: 170px;
                        width: 170px;
                }
                
                .profile-nickname{
                        font-size: 1.2rem;
                        color :$oc-gray-7;
                        font-weight: 700;
                }
                .profile-table{
                        margin: 10px 0;
                        padding : 10px 0;
                        border-top: 1px solid $oc-gray-4;
                        border-bottom: 1px solid $oc-gray-4;
                        >div{
                                display: grid;
                                margin-top: 5px;
                                grid-template-columns: 1fr 1fr;
                                grid-auto-rows : 1.5rem;
                                
                        }
                        .profile-td{
                                display: flex;
                                justify-content: flex-end;
                                color: $oc-gray-7;
                        }
                        .profile-tr{
                                color : $oc-gray-5;
                        }
                }
                .profile-intro{
                        color : $oc-gray-6;
                        padding: 10px 10px;
                        
                }
                .profile-intro::after{
                        content: "";
                        width: 228px;
                        height: 1px;
                        position: absolute;
                        background: #ced4da;
                        transform: translate(-158px, 35px);
                }
                .following{
                        border: 1px solid $oc-red-7 !important;
                        color :red;
                }
                .profil-follow{
                        padding:0 20px;
                        
                        font-size: 1.2rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 228px;
                        cursor: pointer;
                        height: 50px;
                        border: 1px solid $oc-gray-3;
                        margin-top: 25px;
                        .follow-div{
                                display: grid;
                                
                                grid-template-columns: 3fr 1fr;
                                .follow-text{
                                        width: 139px;
                                        text-align: left;
                                }
                                i{
                                        text-align: right;
                                }
                        }
                }
        }
        .FreeLenserDetail-info{
                border: 1px solid $oc-gray-4;
                background: $oc-gray-2;
                display: flex;
                flex-direction: column;
                .FreeLenserDetail-menu{
                        border-bottom: 1px solid $oc-gray-5;
                        align-items: center;
                        background: white;
                        height: 70px;
                        display: grid;
                        grid-template-columns: repeat(4,1fr);
                        justify-content: space-around;
                }
                .FreeLenserDetail-content{
                        padding: 30px 15px;
                        height: 100%;
                }
        }
}