@import '../../../styles/utils';

.footer{
        position: relative;
        top:5rem;
        align-items: center;
        width: 100%;
        border-top: 1px solid $oc-gray-3;
        .footer-button{
                justify-content: center;
                display: flex;
                padding-top: 1rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid $oc-gray-5;
        }
        
        .button +.button{
                margin-left: 4rem;
        }
        .aboutus{
                padding-top: 1rem;
                padding-bottom: 1rem;
                padding-left:15rem;
                text-align: left;
                font-size: 0.8rem;
                background: $oc-gray-8;
                >p{
                        color : $oc-gray-3;
                }
        }
}