@import '../../../styles/utils';

.footer{
        position: relative;
        top:5rem;
        align-items: center;
        width: 100%;
        border-top: 1px solid $oc-gray-3;
        .footer-button{
                justify-content: center;
                display: flex;
                padding-top: 1rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid $oc-gray-5;
        }
        
        .button +.button{
                margin-left: 4rem;
        }
        .aboutus{
                width: 100%;
                text-align: left;
                font-size: 0.8rem;
                background: $oc-gray-8;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding :10px 0;
                >div{
                        width: 476px;
                        >div{
                                line-height: 1.2;
                                color : $oc-gray-3;
                        }
                }
        }
}